body {
  max-width: 40em;
  margin: 0 auto;
}

.button-warning {
  color: white;
  background: rgb(223, 117, 20);
}
.button-green {
  color: white;
  background: rgb(28, 184, 65);
}

/* TOOD: make the whole form exactly fit the screen (including the buttons) */
textarea {
  height: 90vh;
  width: 100%;
}
