body {
  max-width: 50em;
  margin: 0 auto;
}

a.pure-button {
  padding: .5em 1em;
}

.button-warning {
  color: white;
  background: rgb(223, 117, 20);
}
.button-green {
  color: white;
  background: rgb(28, 184, 65);
}

.float-right {
  float: right;
}

/* TOOD: make the whole form exactly fit the screen (including the buttons) */
textarea {
  height: 90vh;
  width: 100%;
}

/* nice glow on selected stuff */
input[type=text], textarea {
  /*
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  */
}

input[type=text]:focus, textarea:focus, a:focus {

  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  /*
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
  */
}
